@model IEnumerable<NovaMoedaInvestimentos.Models.Stock>

@{
    ViewData["Title"] = "List";
}
<div>
    <h1>@ViewData["Titulo"]</h1>
    <br />
    <h6>@ViewData["Data"]</h6>
    <br />
    <h6>@ViewBag.Total @ViewBag.TotalStocks</h6>
    <hr />

</div>
<div class= "container">
    <!--table-dark-->
    <table class="table">

@foreach(var stock in Model)
        {
            <partial name ="_StocksResume" for="@stock"/>
        }
    </table>
</div>

